.matching-wrap {
    display: flex;
    justify-content: center;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    padding: 100px 0;
}

.matching-container {
    display: grid;
    grid-template-columns: 330px 330px;
    grid-template-rows: 470px;
    grid-gap: 150px;
}

.Party-owner,
.Party-member {
    /* width: 330px;
    height: 470px; */
    background-color: #ffffff;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;

    padding: 50px 0;
}

.Party-owner h2,
.Party-member h2 {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
}

.Party-owner p,
.Party-member p {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

/*매칭하기 버튼*/
.create-party{
    background:#000000;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-top: 80px;
}

.create-party:hover{
    background:#fff;
    color:#000000;
}
  
.create-party:before,.create-party:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #000000;
    transition:400ms ease all;
}

.create-party:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }

.create-party:hover:before,.create-party:hover:after{
    width:100%;
    transition:800ms ease all;
}

/*modal*/
.account-modal-container {
    display: grid;
    grid-template-rows: 3;
}

.account-modalHeader {
    display: flex;
}

.account-Logo {
    width: 250px;
    height: 250px;
    padding-left: 50px;
}

.account-closeButton{
    position: relative;
    top: 35px;
    left: 400px;
    width: 35px;
    height: 35px;
}

.account-modalHeader h2 {
    position: relative;
    top: 202px;
    left: 93px;
    margin: 0;
    font-size: 20px;
}

.account-input{
    position: relative;
    display: grid;
    grid-template-rows: 2;
    width: 500px;
    padding: 0 250px;
}

.account-email,
.account-password {
    display: flex;
    padding-bottom: 15px;
    align-items: center;
}

.account-input label {
    font-weight: 600;
    font-size: 20px;
    flex: 1;
    text-align: left;
}

.account-input input {
    padding: 5px;
}


.account-input-email,
.account-input-password {
    background-color: #F4F5F7;
    width: 280px;
    height: 48px;
    border: none;
    outline-style: none;
}

.create-party-add-account {
    position: relative;
    width: 200px;
    height: 65px;
    text-align: center;
    left: 400px;
    /* background-color: #FF166B; */
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;

    margin-top: 10px;
}

.create-party-button {
    background-color: #FF166B;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    padding: 20px;
    color: black;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
}